#canvas {
  .toolsRow {
    @include flex(row, flex-start);
    flex-wrap: wrap;

    p {
      margin-right: 1rem;
      margin-left: 1rem;
      font-weight: bold;
    }

    input {
      width: 65px;
      height: 45px;
      padding: 0rem;
      font-size: 1.3rem;
      font-family: $font-1;
      border: none;
    }

    #colorBox {
      margin: 0;
      width: 35px;
      height: 35px;
      border-radius: 0.5rem;
      border: solid black 0.2rem;
    }

    .colorPicker {
      z-index: 1;
      top: 0px;
      right: 0px;
    }

    .a {
      position: absolute;
      z-index: 2;
    }

    .b {
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;

    }

  }
  
  button {
    font-family: $font-1;
    background-color: $black;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    padding: 0rem;
  }

  #saveRow {
    button {
      width: 140px;
      background-color: $red-3;
    }
    
    i {
      padding-right: 0.5rem;
    }
  }

  #canvasFrame {
    background-color: $black;
    padding: 1rem;
    width: fit-content;
    border-radius: 1rem;
  }
}