#doodleHome {
  @include flex(column, center);
  h2 {
    padding-top: 3rem;
    color: $red-4;
    font-family: $font-2;
    font-size: 5rem;
    transition: all 1s ease-out;
    margin: 0;

    &:hover {
      color: $black;
      transition: all 1s ease-in;
    }
  }

  #doodleGallery {
    @include flex(row, space-evenly);
    flex-wrap: wrap;
  
    .doodleSquare {
      @include flex(column, space-evenly);
      background-color: #343a40;
      width: 290px;
      height: 400px;
      border-radius: 1rem;
      margin: 2rem;
      box-shadow: 0px 3px 10px $shadow;
    }

    .doodleImg {
      background-color: $white;
      width: 250px;
      height: 250px;
      border-radius: 1rem;
      margin: 1rem;
      box-shadow: 0px 3px 10px $shadow;
    }

    .doodleInfo {
      background-color: $white;
      border-style: solid;
      margin: 0rem;
      padding: 0.1rem 0.5rem;
      border-radius: 1.5rem;
      @include flex(row, space-evenly);
      transition: all 0.5s;
      box-shadow: 0px 3px 10px $shadow;

      .profilePic {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 1rem;
        object-fit: cover;
      }

      &:hover {
        cursor: pointer;
        transform: translateY(-3px);
        transition: all 0.5s;
      }
    }

    .doodleDate {
      color: $gray-1;
      margin: 0rem;
      margin-bottom: 0.5rem;
    }
  }
}

.createDoodleBtn {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 2rem;
  background-color: $gray-2;
  font-size: 2.5rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  @include flex(row, center);
  transition: all 0.5s;
  box-shadow: 0px 3px 10px $shadow;

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all 0.5s;
  }
}



