.createDoodleBtn {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 2rem;
  background-color: $gray-2;
  font-size: 2.5rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  @include flex(row, center);
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all 0.5s;
  }
}