#doodleHome {
  @include flex(column, center);
  h2 {
    padding-top: 3rem;
    color: $red-4;
    font-family: $font-2;
    font-size: 5rem;
    transition: all 1s ease-out;
    margin: 0;

    &:hover {
      color: $black;
      transition: all 1s ease-in;
    }
  }

  #doodleGallery {
    @include flex(row, space-evenly);
    flex-wrap: wrap;
  
    .doodleSquare {
      border-style: solid;
      width: 300px;
      height: 300px;
      border-radius: 1rem;
      margin: 2rem;
    }
  }
}

.createDoodleBtn {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 2rem;
  background-color: $gray-2;
  font-size: 2.5rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  @include flex(row, center);
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all 0.5s;
  }
}



