body, html {
  font-family: 'Readex Pro', sans-serif;
  background-color: rgb(250,250,250);
  height: 100vh;
}

nav {
  background-color: #87e0fd;

  img {
    width: 80px;
  }

  #navLogo {
    display: flex;
    justify-content: center;
  }
}

.logo {
  background-image: url('../assets/image.jpeg');
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

.active {
  color: pink;
}

@import "./welcome.scss";