body, html {
  font-family: $font-1;
  background-color: $white;
  height: 100vh;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: $red-3;

  img {
    width: 80px;
  }

  #navLogo {
    display: flex;
    justify-content: center;
  }
}

.logo {
  background-image: url('../assets/image.jpeg');
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

.active {
  color: $red-1;
}

@import "./welcome.scss";